body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative; 
}

.login-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    right: 20px; 
}

#searchbar {
    width: 80%; 
    margin: 10px auto; 
    display: block;
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    outline: none; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed; 
    bottom: 0;
}

#main-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 20px; 
}

.anuncio {
    flex: 0 0 calc(25% - 20px); 
    margin-bottom: 10px; 
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px; 
    box-sizing: border-box; 
    text-align: left; 
}


.anuncio img {
    max-width: 100%;
    height: auto; 
    display: block;
    margin-bottom: 10px; 
}
